* {
  transition: 0.2s;
}

window {
	font-family: "UbuntuMono Nerd Font";
	font-size: 14px;
}

window {
    margin: 0px;
    border: 2px solid #89dceb;
    background-color: #1e1e2e;
    /* background-color: transparent; */
    border-radius: 20px; 
}

#input {
    padding: 4px;
    margin: 20px;
    padding-left: 20px;
    border: none;
    color: #cdd6f4;
    font-weight: bold;
    background: #11111b;
   	outline: none;
    border-radius: 16px;
}

label {
    color: #89dceb;
}
#input image {
    color: #cdd6f4;
}

#input:focus {
    border: none;
   	outline: none;
}

#inner-box {
    margin: 20px;
    margin-top: 0px;
    border: none;
    color: #89dceb;
    border-radius: 16px;
}

#inner-box * {
    transition: none;
}

#outer-box {
    margin: 0px;
    border: none;
    padding: 0px;
    border-radius: 16px;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 16px;
    margin-bottom: 5px;
}

#text:selected {
    color: #1e1e2e;
    font-weight: bold;
}

#img {
    margin-right: 20px;
    background: transparent;
}

#text {
    margin: 0px;
    border: none;
    padding: 0px;
    background: transparent;
}

#entry {
    margin: 0px;
    border: none;
    border-radius: 16px;
    background-color: transparent;
    min-height:32px;
    font-weight: bold;
}

#entry:selected {
    outline: none;
    margin: 0px;
    border: none;
    border-radius: 16px;
    background: #89dceb
}
