source = {{ ansible_facts['user_dir'] }}/.config/hypr/modules/variables.conf
source = {{ ansible_facts['user_dir'] }}/.config/hypr/modules/animations.conf
source = {{ ansible_facts['user_dir'] }}/.config/hypr/modules/monitors.conf
source = {{ ansible_facts['user_dir'] }}/.config/hypr/modules/keybinds.conf
source = {{ ansible_facts['user_dir'] }}/.config/hypr/modules/startup.conf
